## Dynamic C-code Libraries.
useDynLib(varPro, .registration = TRUE)

importFrom("gbm", "gbm", "predict.gbm", "gbm.perf")

importFrom("BART", "wbart")

importFrom("glmnet", "cv.glmnet")

importFrom("graphics", "barplot", "boxplot", "bxp", "lines", "rug", "axis", "legend", "arrows")

importFrom("parallel", "mclapply", "detectCores")

importFrom("randomForestSRC", "rfsrc", "predict.rfsrc",
           "get.mv.formula", "get.auc", "get.pr.auc")

importFrom("stats", "as.formula", "coef", "median", "qnorm",
           "pnorm", "quantile", "runif", "var", "setNames",
           "na.omit", "sd", "model.matrix", "prcomp",
           "loess", "loess.control", "lowess",
           "lm", "supsmu", "predict.lm",
           "rnorm", "ecdf", "qt")

importFrom("utils", "combn", "capture.output")

export(cv.matrix.performance,
       cv.matrix,
       cv.varpro,
       cv.unsupv,
       cv.unsupv.varpro,
       get.orgvimp,
       get.topvars,
       get.iso.performance,
       importance,
       importance.varpro,
       isopro,
       isopro.varpro,
       predict.isopro,
       predict.isopro.varpro,
        
       unsupv.varpro,
       unsupv,
       varpro,
       varpro.news,
       varpro.strength)

 
S3method(predict, isopro)
S3method(predict, isopro.varpro)



