## Dynamic C-code Libraries.
useDynLib(varPro, .registration = TRUE)

importFrom("gbm", "gbm", "predict.gbm", "gbm.perf")

importFrom("BART", "wbart")

importFrom("glmnet", "glmnet", "cv.glmnet")

importFrom("graphics", "barplot", "boxplot", "bxp", "lines", "rug", "axis", "legend", "arrows", "mtext")

importFrom("grDevices", "hcl.colors")

importFrom("parallel", "mclapply", "detectCores")

importFrom("randomForestSRC", "rfsrc", "predict.rfsrc",
           "get.mv.formula", "get.mv.predicted", "get.auc", "get.pr.auc")

importFrom("stats", "as.formula", "coef", "median", "qnorm",
           "pnorm", "quantile", "runif", "var", "setNames",
           "na.omit", "sd", "model.matrix", "prcomp",
           "loess", "loess.control", "lowess",
           "lm", "supsmu", "predict.lm",
           "rnorm", "ecdf", "qt", "glm",
           "t.test", "chisq.test", "prop.test")

importFrom("utils", "combn", "capture.output")

importFrom("umap", "umap")

export(
       beta.varpro,
       clusterpro,
       clusterpro.varpro,
       cv.matrix.performance,
       cv.matrix,
       cv.varpro,
       cv.unsupv,
       cv.unsupv.varpro,
       get.vimp,
       get.orgvimp,
       get.topvars,
       get.iso.performance,
       importance,
       importance.varpro,
       isopro,
       isopro.varpro,
       predict.isopro,
       predict.isopro.varpro,
       predict.unsupv,
       predict.unsupv.varpro,
       predict.varpro,
       partialpro,
       partialpro.varpro,

       plot.clusterpro,
       plot.clusterpro.varpro,

       plot.partialpro,
       plot.partialpro.varpro,
       gbm.learner,
       rf.learner,
       bart.learner,
       unsupv.varpro,
       unsupv,
       varpro,
       varpro.news,
       varpro.strength)

S3method(plot, clusterpro)
S3method(plot, clusterpro.varpro)

S3method(plot, partialpro)
S3method(plot, partialpro.varpro)


S3method(predict, isopro)
S3method(predict, isopro.varpro)
S3method(predict, unsupv)
S3method(predict, unsupv.varpro)
S3method(predict, varpro)

S3method(print, cv.varpro)


